# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# Python
__pycache__/
*.pyc
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# AWS
admin_accessKeys.csv
.aws/

#testing local files
src/test_local.py 

notestoself